body{
  background-image: url('./images/837344.jpeg');
  background-size: contain;
  margin: 0;
  color: blanchedalmond;
  font-size: x-large;

  min-height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}